*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.logo{
    width: 100px;
    height: 100px;
}

.banner{
    background: rgba(86, 162, 144, 0.9);
    /* background: white; */
    
}

.main{
    background: url(./img/tienda.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1{
font-size: 4rem;
font-weight: 700;
color: black;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: aqua;
    font-weight: 700;
    border-radius: 60px;
    
}

.redes{
    height: 200px;
    width: 100%;
}

.card:hover{
    box-shadow: 1px 6px 13px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 6px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 6px 13px -3px rgba(0,0,0,0.75);
transition: 0.5s;
}

.ig{
    font-size: 200px;
    color: black;
}

.contact{
    background: black;
    color: white;
    padding-top: 10px;
}

.ig1{
    font-size: 40px;
    margin-left: 10px;
}


.nosotros{
    background: white;
}

.noticia{
    margin-top: 35px;
    padding: auto;
    text-align: justify;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.c1{
    padding: center;
    font-family: 'Zen Loop', cursive;
    font-size: 60px;
    color: white;

}